In [8]:
file = "C:\\Users\\E7470\\Downloads\\Trilogy_Cohort_Gitlabs\\utsa-san-data-pt-09-2021-u-c\\00_Homework_Assignments_Instructions\\02_HW_3\\Instructions\\PyBank\\Resources\\budget_data.csv"

In [63]:
import os
import pandas as pd
import statistics as s

In [10]:
df=pd.read_csv(file)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [13]:
total_months = len(df)
total_months

86

In [14]:
df.shape

(86, 2)

In [15]:
print(f'This is what I found, {total_months} for my total months')

This is what I found, 86 for my total months

In [19]:
sumOfProfitLoss = df["Profit/Losses"].sum()
sumOfProfitLoss

38382578

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [67]:
mylist = [0]

for x in range (1, len(df)):
    row_above = df["Profit/Losses"][x-1]
    current_row = df["Profit/Losses"][x]
    equation = current_row - row_above
    mylist.append(equation)
    #print(f'aboveRow {row_above} and currentRow {current_row} and the difference is {equation}')

In [68]:
min_pnl = min(mylist)
min_pnl

-2196167

In [69]:
max_pnl = max(mylist)
max_pnl

1926159

In [70]:
mean_pnl = s.mean(mylist)
mean_pnl

-2288

Empty DataFrame
Columns: [Date, Profit/Losses]
Index: []

In [72]:
df["Differences"]=mylist

In [73]:
df.head()

       Date  Profit/Losses  Differences
0  Jan-2010         867884            0
1  Feb-2010         984655       116771
2  Mar-2010         322013      -662642
3  Apr-2010         -69417      -391430
4  May-2010         310503       379920

In [76]:
df_max = df.loc[df["Differences"] == max_pnl, "Date"]
df_max

25    Feb-2012
Name: Date, dtype: object

In [77]:
df_min = df.loc[df["Differences"] == min_pnl, "Date"]
df_min

44    Sep-2013
Name: Date, dtype: object

In [81]:
print("----------------")
print(f'Total Months: {total_months}')

----------------
Total Months: 86